*{
    box-sizing: border-box;
}

body {
    font-family: 'serif',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b4e68;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ebeeeb;
    box-shadow: 0 0 10px rgba(190, 196, 176, 0.1);
    border-radius: 8px;
}

.content {
    text-align: center;
}

.title {
    color: #fdf5f5;
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    color: #f7e6e6;
    font-size: 1.2em;
}

.img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote {
    font-style: italic;
    margin-top: 20px;
    color: #f3f7f5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    margin-top: 20px;
    color: #d5ecbb;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #b6a4bb;
    color: #73777e;
    border-radius: 0 0 8px 8px;
}

#tribute-link {
    color: #fcf1b8;
    text-decoration: none;
    font-weight: bold;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 1em;
    }

    .img {
        margin-top: 10px;
    }

    .responsive-img {
        max-width: 100%;  /* Ensures the image doesn't exceed its container's width */
        height: auto;     /* Maintains the aspect ratio */
        display: block;   /* Removes any inline spacing (like beneath an inline image) */
        margin: 0 auto;  /* Centers the image if it's a block-level element */
    }
    



}